@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');



.App {
display: flex;
justify-content: center;
padding-top: 26rem;
}

/* Container for all details */
.main {
    width: 700px;
    border-radius: 20px;
    background-color: #01579b;
    font-family: 'Recursive', sans-serif;
    color: whitesmoke;
}

/* Header */
.top {
    height: 60px;
    background-color: #424242;  
    padding: 10px;
    border-radius: 20px 20px 0 0;

    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #424242;  
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;

}

/* Date & Day *//* Description */
.day,
.description {
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
}

/* Temprature */
.temp,
.sunrise-sunset {
    padding: 15px;  
    font-size: 18px;
}

/* Container's info */
.flex {
    display: flex;
    justify-content: space-between;
}